html, body {
  height: 100%;
  background-color: #dddddd;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #333333; }

.n-header .btn-group, .n-nav .btn-group {
  display: inline; }

.btn {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

.n-header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto; }

.n-code .n-filelist, .n-config .n-filelist {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 200px;
  height: auto;
  background-color: white;
  margin-bottom: 10px;
  padding: 4px; }
  .n-code .n-filelist .n-search, .n-config .n-filelist .n-search {
    width: 100%;
    padding: 4px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 28px;
    margin: 0; }
  .n-code .n-filelist .nav.nav-list, .n-config .n-filelist .nav.nav-list {
    padding: 0; }
    .n-code .n-filelist .nav.nav-list li, .n-config .n-filelist .nav.nav-list li {
      color: #333333;
      padding: 2px 5px; }
      .n-code .n-filelist .nav.nav-list li:hover, .n-config .n-filelist .nav.nav-list li:hover {
        background-color: #eeeeee; }
      .n-code .n-filelist .nav.nav-list li.active, .n-config .n-filelist .nav.nav-list li.active {
        background-color: #0088cc;
        color: white; }
.n-code .n-textarea, .n-config .n-textarea {
  position: absolute;
  top: 50px;
  left: 220px;
  width: 200px;
  height: auto;
  margin-right: 10px;
  border: none; }
