html, body {
  height: 100%;
  background-color: #dddddd;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #333333; }

select {
  height: 1.8em;
  width: auto;
  min-width: 150px;
  margin: 0;
  vertical-align: top; }

.n-header .btn-group, .n-nav .btn-group {
  display: inline; }

.btn {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

.n-header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto; }

.n-content {
  display: none; }
  .n-content .n-filelist {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 200px;
    height: auto;
    background-color: white;
    margin-bottom: 10px;
    padding: 4px;
    overflow-y: scroll; }
    .n-content .n-filelist .n-search {
      width: 100%;
      padding: 4px !important;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 28px;
      margin: 0; }
    .n-content .n-filelist li {
      -webkit-user-select: none; }
  .n-content .nav.nav-list {
    padding: 0; }
    .n-content .nav.nav-list li {
      cursor: pointer;
      color: #333333;
      padding: 2px 5px; }
      .n-content .nav.nav-list li:hover {
        background-color: #eeeeee; }
      .n-content .nav.nav-list li.active {
        background-color: #0088cc;
        color: white; }
      .n-content .nav.nav-list li.changed {
        font-weight: bold; }
        .n-content .nav.nav-list li.changed:before {
          content: '* '; }
  .n-content .n-textarea {
    position: absolute;
    top: 50px;
    left: 220px;
    width: 200px;
    height: auto;
    margin-right: 10px;
    border: none; }
    .n-content .n-textarea + .CodeMirror {
      font-size: 14px;
      background-color: white; }
      .n-content .n-textarea + .CodeMirror pre {
        line-height: 18px !important;
        height: 18px !important; }
      .n-content .n-textarea + .CodeMirror .CodeMirror-gutter.CodeMirror-linenumbers {
        min-width: 28px; }

.n-config {
  display: block; }
  .n-config .n-config-header {
    position: absolute;
    top: 50px;
    left: 220px;
    width: auto;
    height: auto; }
  .n-config .n-pane {
    position: absolute;
    top: 50px;
    left: 220px;
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    overflow-y: scroll; }
    .n-config .n-pane .n-config-app, .n-config .n-pane .n-config-page, .n-config .n-pane .n-textarea-wrap {
      display: none; }
    .n-config .n-pane .n-visible {
      display: block !important; }
    .n-config .n-pane table {
      width: 100%;
      margin-bottom: 10px; }
      .n-config .n-pane table caption {
        cursor: pointer;
        text-align: left;
        background-color: #444444;
        color: white;
        padding: 4px;
        font-size: 1.1em; }
      .n-config .n-pane table tbody tr {
        border-bottom: solid 1px #aaa; }
        .n-config .n-pane table tbody tr td:nth-child(1) {
          border-right: solid 1px #aaa;
          background-color: #eee; }
          .n-config .n-pane table tbody tr td:nth-child(1) label {
            font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            width: 160px;
            margin: 0; }
            .n-config .n-pane table tbody tr td:nth-child(1) label input {
              margin: 0;
              margin-right: 4px; }
        .n-config .n-pane table tbody tr td:nth-child(2) {
          width: 100%; }
          .n-config .n-pane table tbody tr td:nth-child(2) input {
            width: 100%;
            margin: 0;
            border: none;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 4px 2px; }
        .n-config .n-pane table tbody tr td.n-prop-separator {
          background-color: #dddddd; }
      .n-config .n-pane table tr:first-child {
        border-top: solid 1px #aaa; }
      .n-config .n-pane table label {
        padding-left: 4px; }
    .n-config .n-pane .n-textarea-wrap {
      width: 100%;
      height: 100%; }
      .n-config .n-pane .n-textarea-wrap .n-textarea {
        position: static;
        width: 100%;
        height: 100%; }

.n-image .n-filelist .nav.nav-list li {
  display: inline-block;
  padding: 4px;
  max-width: 128px; }
  .n-image .n-filelist .nav.nav-list li img {
    vertical-align: top;
    max-width: 128px; }
  .n-image .n-filelist .nav.nav-list li span {
    display: block; }
.n-image .n-filelist .n-search {
  width: 200px; }

.n-layout .n-layout-header {
  position: absolute;
  top: 42px;
  left: 230px;
  width: auto;
  height: auto; }
  .n-layout .n-layout-header .btn-group, .n-layout .n-layout-header .n-add-view {
    display: inline-block; }
  .n-layout .n-layout-header .n-add-view {
    border: dotted 1px #444;
    padding: 4px;
    border-radius: 4px; }
.n-layout .n-pane {
  position: absolute;
  top: 80px;
  left: 230px;
  width: auto;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px; }
  .n-layout .n-pane .n-prop, .n-layout .n-pane .n-layer, .n-layout .n-pane .n-source {
    display: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: white;
    overflow-y: scroll;
    overflow-x: scroll; }
  .n-layout .n-pane .n-prop {
    display: block;
    padding: 4px; }
    .n-layout .n-pane .n-prop table {
      width: 100%;
      margin-bottom: 10px; }
      .n-layout .n-pane .n-prop table caption {
        cursor: pointer;
        text-align: left;
        background-color: #444444;
        color: white;
        padding: 4px;
        font-size: 1.1em; }
      .n-layout .n-pane .n-prop table tbody tr {
        border-bottom: solid 1px #aaa; }
        .n-layout .n-pane .n-prop table tbody tr td:nth-child(1) {
          border-right: solid 1px #aaa;
          background-color: #eee; }
          .n-layout .n-pane .n-prop table tbody tr td:nth-child(1) label {
            font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            width: 160px;
            margin: 0; }
            .n-layout .n-pane .n-prop table tbody tr td:nth-child(1) label input {
              margin: 0;
              margin-right: 4px; }
        .n-layout .n-pane .n-prop table tbody tr td:nth-child(2) {
          width: 100%; }
          .n-layout .n-pane .n-prop table tbody tr td:nth-child(2) input {
            width: 100%;
            margin: 0;
            border: none;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 4px 2px; }
        .n-layout .n-pane .n-prop table tbody tr td.n-prop-separator {
          background-color: #dddddd; }
    .n-layout .n-pane .n-prop ul {
      list-style: none;
      padding: 4px; }
      .n-layout .n-pane .n-prop ul li {
        padding: 4px 0; }
        .n-layout .n-pane .n-prop ul li label {
          white-space: nowrap;
          overflow-x: scroll;
          display: block;
          width: 160px;
          margin: 0;
          float: left; }
          .n-layout .n-pane .n-prop ul li label input {
            margin: 0;
            margin-right: 4px; }
        .n-layout .n-pane .n-prop ul li div {
          margin-left: 170px; }
          .n-layout .n-pane .n-prop ul li div input[type="text"] {
            display: block;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            margin: 0;
            border-color: transparent; }
.n-layout .n-layer li {
  border: dotted 1px #aaaaaa;
  border-top: none; }
  .n-layout .n-layer li span:first-child {
    display: inline-block;
    min-width: 10em; }
  .n-layout .n-layer li span:nth-child(2) {
    margin-left: 4px;
    color: #aaa; }
.n-layout .n-textarea {
  position: static;
  width: 100%;
  height: 100%; }
.n-layout .n-canvas {
  position: absolute;
  top: 50px;
  left: 230px;
  width: 320px;
  height: 480px;
  max-width: 700px;
  margin-bottom: 10px;
  background-color: black;
  z-index: 1000; }
