<style>
table.prop {
  width:100%;
}
table.prop tr {
  border-bottom:solid 1px #ddd;
}
table.prop span.prop-label {
  display:block;
}
table.prop tr td:first-child {
  padding:0;
  width: 120px;
}
table.prop tr td:first-child select {
  padding:0;
  width:80px;
}

table.prop input[type="text"] {
  padding:2px 4px;
  margin:0;
  width: 90%;
}

table.prop input[type="checkbox"] {
  margin:0 4px;
}

table.prop select {
  margin:0;
  padding:0;
  height:auto;
}

table.prop input::-webkit-input-placeholder {
    color:#bbb;
}
</style>

<script>
(function($){
  $.fn.multiProp = function(){
    var $select = this;

    $select.each(hideAll);
    $select.each(showProp);
    $select.each(setOnChange);
  };

  var hideAll = function(){
    $(this).find('option').each(function(){
      $($(this).attr('value')).hide();
    });
  };

  var showProp = function(){
    $($(this).val()).show();
  };

  var setOnChange = function(){
    $(this).change(function(ev){
      hideAll.apply(this);
      showProp.apply(this);
    });
  };
})(jQuery);
//$('table.prop tr td:first-child select').multiProp();
</script>

<!-- basic -->
<table class="prop">
<tbody>
<tr>
  <td>class</td>
  <td><input type="text" id="prop-class" disabled/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-id"/><span>id</span></td>
  <td><input type="text" id="prop-id" placeholder='"id"'/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-pos"/>pos</td>
  <td><input type="text" id="prop-pos" placeholder="[1, 2]"/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-size"/>size</td>
  <td><input type="text" id="prop-size" placeholder="[100, 200]"/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-padding"/>padding</td>
  <td><input id="prop-padding" type="text" placeholder="10"/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-paddings"/>paddings</td>
  <td><input id="prop-paddings" type="text" placeholder="[1, 2, 3, 4]"/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-z"/>z</td><td>
  <input type="text" id="prop-z" placeholder="1"/></td>
</tr>
</tbody>
</table>

<!-- background -->
<button type="button" class="btn" data-toggle="collapse" data-target="#bs-prop-background">background</button>
<div id="bs-prop-background" class="collapse out">
<table class="prop">
<tbody>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>src</td>
  <td><input type="text" id="prop-background-src" placeholder='"image/foo.png"'/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>color</td>
  <td><input type="text" id="prop-background-color" placeholder='"#001122"'/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>gradient</td>
  <td>
    <div><input type="text" id="prop-background-gradient-direction" title="direction" placeholder='"top | right | bottom | left | top-right | top-left| bottom-right | bottom-left"'/></div>
    <div><input type="text" id="prop-background-gradient-colorstop" title="colorstop" placeholder='[[0, "#000030"], [0.5, "#000030"], [1, "#000010"]]'/></div>
  </td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>radius</td>
  <td><input id="prop-background-radius" type="text" placeholder="1"/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>radiuses</td>
  <td><input id="prop-background-radiuses" type="text" placeholder="[1, 2, 3, 4]"/></td>
</tr>
</tbody>
</table>
</div>

<!-- border -->
<button type="button" class="btn" data-toggle="collapse" data-target="#bs-prop-border">border</button>
<div id="bs-prop-border" class="collapse out">
<table class="prop">
<tbody>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>width</td>
  <td><input id="prop-border-width" type="text" placeholder="1"/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>widths</td>
  <td><input id="prop-border-widths" type="text" placeholder="[1, 2, 3, 4]"/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>color</td>
  <td><input id="prop-border-color" type="text" placeholder='"#001122"'/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>colors</td>
  <td><input id="prop-border-colors" type="text" placeholder='["#000000", "#111111", "#222222", "#333333"]'/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>radius</td>
  <td><input id="prop-border-radius" type="text" placeholder="1"/></td>
</tr>
  <td><input type="checkbox" id="checkbox-prop-"/>radiuses</td>
  <td><input id="prop-border-radiuses" type="text" placeholder="[1, 2, 3, 4]"/></td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>gradient</td>
  <td>
    <input type="text" id="prop-border-gradient-direction" title="direction" placeholder='"top | right | bottom | left | top-right | top-left| bottom-right | bottom-left"'/>
    <input type="text" id="prop-border-gradient-colorstop" title="colorstop" placeholder='[[0, "#000030"], [0.5, "#000030"], [1, "#000010"]]'/>
  </td>
</tr>
<tr>
  <td><input type="checkbox" id="checkbox-prop-"/>gradients</td>
  <td>
    <input type="text" id="prop-border-gradients-0-direction" title="top direction" placeholder='"top | right | bottom | left | top-right | top-left| bottom-right | bottom-left"'/>
    <input type="text" id="prop-border-gradients-0-colorstop" title="top colorstop" placeholder='[[0, "#000030"], [0.5, "#000030"], [1, "#000010"]]'/>
    <input type="text" id="prop-border-gradients-1-direction" title="left direction" placeholder='"top | right | bottom | left | top-right | top-left| bottom-right | bottom-left"'/>
    <input type="text" id="prop-border-gradients-1-colorstop" title="left colorstop" placeholder='[[0, "#000030"], [0.5, "#000030"], [1, "#000010"]]'/>
    <input type="text" id="prop-border-gradients-2-direction" title="bottom direction" placeholder='"top | right | bottom | left | top-right | top-left| bottom-right | bottom-left"'/>
    <input type="text" id="prop-border-gradients-2-colorstop" title="bottom colorstop" placeholder='[[0, "#000030"], [0.5, "#000030"], [1, "#000010"]]'/>
    <input type="text" id="prop-border-gradients-3-direction" title="left direction" placeholder='"top | right | bottom | left | top-right | top-left| bottom-right | bottom-left"'/>
    <input type="text" id="prop-border-gradients-3-colorstop" title="left colorstop" placeholder='[[0, "#000030"], [0.5, "#000030"], [1, "#000010"]]'/>
  </td>
</tr>
</tbody>
</table>
</div>

