<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8"/>
<title>BS Builder</title>

<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<script src="js/navy.js" data-builder="true"></script>

<script src="lib/jquery/jquery-1.8.1.min.js"></script>
<script src="lib/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

<script src="js/knockout-2.2.0.js"></script>
<script src="js/builder.js"></script>
<script>

(function($){
    $.fitsize = function() {
        $target = $('.fitsize-x').each(function(index, $e){
            var $this = $(this);
            var left          = parseInt($this.css('left'), 10);
            var marginLeft    = parseInt($this.css('margin-left'), 10);
            var marginRight   = parseInt($this.css('margin-right'), 10);
            var paddingLeft   = parseInt($this.css('padding-left'), 10);
            var paddingRight  = parseInt($this.css('padding-right'), 10);
            var borderLeft    = parseInt($this.css('border-left'), 10);
            var borderRight   = parseInt($this.css('border-right'), 10);
            var width         = $(document.body).width() - (left + marginLeft + marginRight + paddingLeft + paddingRight + borderLeft + borderRight);
            $this.width(width);
        });

        $target = $('.fitsize-y').each(function(index, $e){
            var $this = $(this);
            var top           = parseInt($this.css('top'), 10);
            var marginTop     = parseInt($this.css('margin-top'), 10);
            var marginBottom  = parseInt($this.css('margin-bottom'), 10);
            var paddingTop    = parseInt($this.css('padding-top'), 10);
            var paddingBottom = parseInt($this.css('padding-bottom'), 10);
            var borderTop     = parseInt($this.css('border-top'), 10);
            var borderBottom  = parseInt($this.css('border-bottom'), 10);
            var height        = $(document.body).height() - (top + marginTop + marginBottom + paddingTop + paddingBottom + borderTop + borderBottom);
            $this.height(height);
        });
    }
})(jQuery);

//$($.fitsize);
</script>
<!--
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
-->
<!--
<script src="lib/underscore/underscore-min.js"></script>
<script src="lib/backbone/backbone-min.js"></script>
<script src="js/jquery/jquery.fitsize.js"></script>
<script src="js/jquery/jquery.list_filter.js"></script>
<script src="js/navy.js"></script>
<script src="lib/nameless/nameless.js"></script>
<script src="js/new.js"></script>
-->
<!--
<script src="js/builder.js"></script>
-->
</head>

<body>

<!-- n-header -->
<div class="n-header">
  <select data-bind="options: projects, value: selectedProject"></select>

  <div class="btn-group">
    <button class="btn icon" title="Play"><i class="icon-play"></i></button>
    <button class="btn icon" title="New"><i class="icon-plus"></i></button>
    <button class="btn icon" title="Delete"><i class="icon-trash"></i></button>
  </div>

  <div class="btn-group" data-bind="click: toggle">
    <button class="btn active" data-toggle=".n-config">Config</button>
    <button class="btn" data-toggle=".n-layout">Layout</button>
    <button class="btn" data-toggle=".n-code">Code</button>
    <button class="btn" data-toggle=".n-image">Image</button>
  </div> 

  <div class="btn-group">
    <button class="btn">Save</button>
    <button class="btn">New</button>
    <button class="btn">Move</button>
    <button class="btn">Delete</button>
  </div>
</div>
<!-- end -->

<!-- config -->
<div class="n-content n-config">
  <div class="n-filelist fitsize-y">
    <input type="text" placeholder="Search" class="n-search"/>
    <ul class="nav nav-list" data-bind="foreach: files, click: $root.readFile">
      <li data-bind="text: $data"></li>
    </ul>
  </div>

  <textarea class="n-textarea fitsize-y fitsize-x"></textarea>
</div>
<!-- end -->

<!-- layout -->
<div class="n-content n-layout">
  <div class="n-filelist fitsize-y">
    <input type="text" placeholder="Search" class="n-search"/>
    <ul class="nav nav-list" data-bind="foreach: files, click: $root.readFile">
      <li data-bind="text: $data"></li>
    </ul>
  </div>

  <div class="n-canvas fitsize-x fitsize-y"></div>

  <div class="btn-group" data-bind="click: toggle">
    <button class="btn active" data-toggle=".n-prop">Prop</button>
    <button class="btn" data-toggle=".n-layer">Layer</button>
    <button class="btn" data-toggle=".n-source">Source</button>
    <button class="btn" data-toggle=".n-lib">Lib</button>
  </div>

  <div class="n-pane fitsize-x fitsize-y"> 
    <div class="n-prop" data-bind="template: {name: 'prop-template'}"></div>
    <div class="n-layer"><ul/></div>
    <textarea class="n-source n-textarea"></textarea>
    <div class="n-lib" data-bind="template: {name: 'lib-template'}"></div>
  </div>

</div>
<!-- end -->

<!-- code -->
<div class="n-content n-code">
  <div class="n-filelist fitsize-y">
    <input type="text" placeholder="Search" class="n-search"/>
    <ul class="nav nav-list" data-bind="foreach: files, click: $root.readFile.bind($root)">
      <li data-bind="text: $data"></li>
    </ul>
  </div>

  <textarea class="n-textarea fitsize-y fitsize-x"></textarea>
</div>
<!-- end -->

<!-- image -->
<div class="n-content n-image">
  <div class="n-filelist fitsize-y fitsize-x">
    <input type="text" placeholder="Search" class="n-search"/>
    <ul class="nav nav-list" data-bind="foreach: files">
      <li><img data-bind="attr: {src: $data}"/></li>
    </ul>
  </div>
</div>
<!-- end -->


<!-- {{{ tab-content -->
<div id="bs-content-tabs" class="tabbable tabs-left fill-y">
<!--
<ul id="bs-content-tabs-buttons" class="nav nav-tabs bs-fit-size-content-menu">
  <li><a id="bs-content-tab-conf" href="#bs-conf-file-edit">Config</a></li>
  <li><a id="bs-content-tab-layout" href="#bs-layout-file-edit">Layout</a></li>
  <li><a id="bs-content-tab-code" href="#bs-code-file-edit">Code</a></li>
  <li><a id="bs-content-tab-image" href="#bs-image-file-list">Image</a></li>
</ul>
-->
<div class="tab-content fill-x fill-y">
  <!--{{{ conf-->
  <div id="bs-conf-file-edit" class="tab-pane bs-flex fill-x fill-y">
    <div id="bs-conf-file-list" class="well span3 bs-file-list">
      <div class="search-box"><input type="text" placeholder="Search" class="fill-x search-query"/></div>
      <ul class="nav nav-list">
      </ul>
    </div>
    <div class="bs-edit-area fill-x">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><button class="btn icon" title="Save"><i class="icon-folder-close"></i></button></li>
          </ul>
        </div>
      </div>
      <textarea class="fill-y fill-x"></textarea>
    </div>
  </div>
  <!-- }}} -->
<!-- {{{ layout -->
  <div id="bs-layout-file-edit" class="tab-pane bs-flex fill-x fill-y">

    <div id="bs-layout-file-list" class="well span3 bs-file-list">
      <div class="search-box"><input type="text" placeholder="Search" class="fill-x search-query"/></div>
      <ul class="nav nav-list">
      </ul>
    </div>

    <div id="bs-layout-canvas"></div>

    <div id="bs-layout-edit" class="bs-edit-area fill-x">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><button class="btn icon" title="Save"><i class="icon-folder-close"></i></button></li>
            <li><button class="btn icon" title="New"><i class="icon-plus"></i></button></li>
            <li><button class="btn icon" title="Move"><i class="icon-edit"></i></button></li>
            <li><button class="btn icon" title="Delete"><i class="icon-trash"></i></button></li>
          </ul>
        </div>
      </div>
      <div id="bs-layout-tabs" class="tabbable fill-x fill-y">
        <ul class="nav nav-tabs">
          <li><a href="#bs-layout-edit-prop">Porp</a></li>
          <li><a href="#bs-layout-edit-layer">Layer</a></li>
          <li><a href="#bs-layout-edit-source">Source</a></li>
          <li><a href="#bs-layout-pick-lib">Lib</a></li>
        </ul>
        <div class="tab-content fill-y">
          <div id="bs-layout-edit-prop" class="tab-pane visible" data-template-src="template/layout_property_table.html"></div>
          <div id="bs-layout-edit-layer" class="tab-pane"><ul> <li>aaa</li><li>bbb</li><li>ccc</li></ul></div>
          <div id="bs-layout-edit-source" class="tab-pane"><textarea></textarea></div>
          <div id="bs-layout-pick-lib" class="tab-pane">
            <ul>
              <li data-view-class="View">View</li>
              <li data-view-class="Image">Image</li>
              <li data-view-class="Text">Text</li>
              <li data-view-class="Button">Button</li>
              <li data-view-class="ViewGroup">ViewGroup</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- }}} -->
  <!-- {{{ code -->
  <div id="bs-code-file-edit" class="tab-pane bs-flex fill-x fill-y">
    <div id="bs-code-file-list" class="well span3 bs-file-list">
      <div class="search-box"><input type="text" placeholder="Search" class="fill-x search-query"/></div>
      <ul class="nav nav-list">
      </ul>
    </div>
    <div class="bs-edit-area fill-x">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><button class="btn">Save</button></li>
            <li><button class="btn">New</button></li>
            <li><button class="btn">Move</button></li>
            <li><button class="btn">Delete</button></li>
          </ul>
        </div>
      </div>
      <textarea class="fill-y fill-x"></textarea>
    </div>
  </div>
  <!-- }}} -->
  <!-- {{{ image -->
  <div id="bs-image-file-list" class="tab-pane fill-x fill-y">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
            <li><form class="navbar-search"><input type="text" placeholder="Search" class="search-query search-box-input"></form></li>
            <li><button class="btn">Upload</button></li>
        </ul>
      </div>
    </div>
    <ul class="bs-image-list">
    </ul>
  </div>
  <!-- }}} -->
</div>
</div>
<!-- }}} -->
<!-- {{{tamplate -->
<script type="text/template" id="project-list">
<option data-id="<%= id %>"><%= name %></option>
</script>

<script type="text/template" id="file-list">
  <li><a data-id="<%= id %>"><%= name %></a></li>
</script>

<script type="text/template" id="image-list">
  <li><a data-id="<%= id %>"><img src="<%= id %>" title="<%= name %>"/><div><%= name %></div></a></li>
</script>
<!-- }}} -->

<script type="text/html" id="prop-template">
<div><label>class</label><input type="text" id="prop-class" disabled/></div>
<div>Basic</div>
<ul class="nav nav-list" data-bind="foreach: propBasic">
  <li><label data-bind="attr: {title: title}"><input type="checkbox"/><span data-bind="text: name"/></label><div><input type="text"></div></li>
</ul>

<div>Background</div>
<ul class="nav nav-list" data-bind="foreach: propBackground">
  <li><label data-bind="attr: {title: title}"><input type="checkbox"/><span data-bind="text: name"/></label><div><input type="text"></div></li>
</ul>

<div>Border</div>
<ul class="nav nav-list" data-bind="foreach: propBorder">
  <li><label data-bind="attr: {title: title}"><input type="checkbox"/><span data-bind="text: name"/></label><div><input type="text"></div></li>
</ul>
</script>

<script type="text/html" id="lib-template">
<ul>
  <li data-view-class="View">View</li>
  <li data-view-class="Image">Image</li>
  <li data-view-class="Text">Text</li>
  <li data-view-class="Button">Button</li>
  <li data-view-class="ViewGroup">ViewGroup</li>
</ul>
</script>
</body>

</html>
